@import 'jquery.ui.all';

body{
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  width: 1244px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #333;
}

#icons{
  float: left;
  width: 39px;
}

img.draggable, img.draggable-clone{
  cursor: move;
  width: 39px;
  margin-bottom: 10px;
}

#map{
  position: relative;
  margin-left: 20px;
  float: left;
  width: 965px;

  img.map{
    z-index: 0;
    width: 965px;
  }
}

#new_map_overlay{
  float: left;
  width: 200px;
  margin-left: 20px;
}

#coords{
  clear: none;
  border-collapse: collapse;
  th{
    text-align: left;
    font-weight: bold;
    font-size: 0.9em;
    padding-right: 15px;
    padding-bottom: 7px;
  }

  td{
    padding-right: 15px;
    padding-left: 3px;
  }

  input[type='text']{
    width: 40px;
  }

  tr:hover{
    background-color: orange;
  }

  tr.header:hover{
    background-color: transparent;
  }
}

.overlay.hover{
  background-color: orange;
}

.text_overlay{
  min-width: 100px;
  min-height: 20px;
  .text{
    border: 1px dashed #aaa;
    padding: 3px;
    font-size: 11px;
  }
  .handle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: orange;
    cursor: move;
    left: -15px;
    top: 0;
    position: absolute;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }
}

input[type='submit']{
  font-size: 14px;
  border: 1px solid #aaa;
  min-width: 120px;
  cursor: pointer;
}

#notice{
  padding: 5px;
  color: orange;
}

#submit_buttons{
  margin-top: 20px;
  margin-bottom: 20px;
}