@import 'jquery.ui.all';

body{
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#icons{
  float: left;
  width: 39px;
}

img.draggable, img.draggable-clone{
  cursor: move;
  width: 39px;
  margin-bottom: 10px;
}

#map{
  position: relative;
  margin: 0 20px;
  float: left;
  width: 945px;

  img.map{
    z-index: 0;
    width: 885px;
  }
}

#coords{
  clear: both;
  margin-left: 59px;
  padding-top: 20px;

  tr.header{
    display: none;
  }

  th{
    text-align: left;
    font-weight: bold;
    font-size: 0.9em;
    padding-right: 15px;
    padding-bottom: 7px;
  }

  td{
    padding-right: 15px;
  }

  input[type='text']{
    width: 40px;
  }
}

.overlay{
  min-width: 100px;
  min-height: 20px;
  .text{
    border: 1px dashed #aaa;
    padding: 3px;
    font-size: 11px;
  }
  .handle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: orange;
    cursor: move;
    left: -15px;
    top: 0;
    position: absolute;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }
}